@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
@{
    @: This is some text
    @: This is text too
    @: 也可输出变量
    bool? boolean = ViewBag.b;
}
@using (Html.BeginForm("index", "home"))
{

}

@if (boolean == true)
{

}
else if (boolean == false)
{
}
else
{

}

@while (true)
{
    break;
}

@for (int i = 0; i < 5; i++)
{
    break;
}
@RenderSection("asdf",false);
@section asdf{
    
}